{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}"/>
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="jumbotron">
    <h1>Carga de archivos</h1>

  </div>
  <p class="lead">Carga de archivo de configuracion</p>
  <form enctype="multipart/form-data" action="" method="post"> 
        <input type="file"  class="form-control"   name="my_uploaded_file"/> 
        <p><a class="btn btn-success" type="submit" value="Submit" role="button" style="margin-top:10px">Cargar</a></p>
  </form>
    <p class="lead">Carga de archivo de Consumo</p>
    <form enctype="multipart/form-data" action="" method="post"> 
      <input type="file"  class="form-control"   name="my_uploaded_file"/> 
      <p><a class="btn btn-warning" type="submit" value="Submit" role="button" style="margin-top:10px">Cargar</a></p>
    </form>
  
  <div class="row marketing">
    <div class="col-md-12 offset-md-3">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div>
{% endblock %}