{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/view-catg.css' %}"/>
{% endblock %}
{% block title %}crear Recurso{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1> Crear Recurso</h1>
</div>
<div id="category" class="rounded" style="padding:50px;">
  <form class=" row g-2" method="post">
    {% csrf_token %}
      <div class="col-md-6">
        <label for="nombre_recurso" class="form-label">Nombre: </label>
        <input type="text" class="form-control" name="nombre_recurso" id="nombre_recurso"  value="{{ nombre_recurso }}">
      </div>
      <div class="col-md-3">
        <label for="abreviatura" class="form-label">abreviatura</label>
        <input type="text" class="form-control" name="abreviatura" id="abreviatura" value="{{ abreviatura }}">
      </div>
      <div class="col-md-3">
        <label for="metrica" class="form-label">Metrica</label>
        <input type="text" class="form-control" name="metrica" id="metrica" value="{{ metrica }}">
      </div>

      <div class="col-md-4">
        <label for="tipo" class="form-label">Tipo:</label>
        <input type="text" class="form-control" name="tipo" id="metrica" value="{{ tipo }}">
      </div>
      <div class="col-md-2">
        <label for="costo" class="form-label">Costo</label>
        <input type="text" class="form-control" name="costo" id="costo"  value="{{ costo }}">
      </div>
      <div class="col-md-2">
        <label for="id" class="form-label">ID</label>
        <input type="text" class="form-control" name="id" id="id" value="{{ id }}">
      </div>
    <div class="col-md-12" style="margin-top:15px">
      <button type="submit" class="btn btn-primary">Crear Recurso</button>
    </div>
  </form>

</div>
{% if message != '' %}
<script>
  alert('{{ message }}');
</script>
{% endif %}


{% endblock %}